.navbar {
	background-color: white;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.07), 0 2px 2px 0 rgba(0, 0, 0, 0.04);
	min-height: 55px;
}

.nav-item .nav-link {
	font-size: 16px;
    color: #000000b3;
	display: inline-block;
	padding: 0 !important;
}

.nav-item .nav-link:hover,
.nav-item .nav-link.active {
	color: #52b563 !important;
}

.nav-item .nav-link i {
	font-size: 15px;
}

/* Logo
*/
a.navbar-brand {
	padding: 0;
	margin: 0;
}

img.navbar-brand {
	height: 25px;
	object-fit: cover;
	padding: 0 !important;
	margin-bottom: 0.25rem;
}

.nav-item:not(:has(.link-logout, #username)) {
	padding: 0 1.5rem;
}

.nav-item:has(.link-signup){
	padding-right: 0 !important;
}

.nav-item #username {
	font-size: 16px;
	margin-right: 0.0625rem;
	padding-left: 1.5rem;
}

.fa-heart,
.fa-calendar-days {
	vertical-align: 0.25px;
}
