.navbar {
	background-color: white;
	border-bottom: 1px solid var(--theme-border-color);
	min-height: fit-content;
	justify-content: center !important;
	padding: 1rem !important;
}

.navbar .container {
	width: 1248px;
	margin: 0 !important;
}

.nav .nav-item {
	display: inline-flex;
	background-color: transparent;
	border-radius: 0.5rem;
	height: fit-content;
	padding: 0.5rem 1rem;
	margin: 0 0.5rem;
}

.nav .nav-item .nav-link {
	font-size: 16px;
	color: var(--theme-text-color);
	padding: 0 !important;
}

.nav .nav-item:hover,
.nav .nav-item:has(.active) {
	color: var(--theme-base-color);
	background-color: var(--theme-btn-background-color);
}

.nav-item .nav-link ion-icon {
	font-size: 20px;
	margin-bottom: -4px;
}

#username {
	font-size: 16px;
	font-weight: bold;
	color: var(--theme-text-color);
	padding: 0.5rem 1rem;
	margin-right: -1.25rem;
}

#username ion-icon {
	font-size: 20px;
	margin-bottom: -5px;
	margin-right: -4px;
}

/* Logo
*/
a.navbar-brand {
	padding: 0;
	margin: 0;
}

img.navbar-brand {
	height: 25px;
	object-fit: cover;
	padding: 0 !important;
	margin-bottom: 0.25rem;
}
