.user-index {
	display: flex;
	justify-content: center;
}

.card {
	border: 1px solid var(--theme-border-color) !important;
	border-radius: 0.5rem !important;
	width: 1024px;
	margin: 4rem 0 auto;
}

.card .card-header,
.card .card-footer {
	text-align: center;
	background-color: transparent !important;
	display: flex;
	justify-content: space-between;
	border: 0;
	padding: 1.25rem 1.5rem !important;
}

.card .card-header #title {
	font-size: 20px;
	font-weight: bold;
	margin: 0.5rem 2rem;
}

.card .card-header #title ion-icon {
	font-size: 26px;
	margin-bottom: -6px;
}

.card .card-header .header-actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.card .card-body {
	padding: 0 1.5rem;
}

.card .card-body .no-data {
	display: flex;
	justify-content: baseline;
	align-items: center;
	padding-left: 2rem;
}

.card .card-body .no-data p {
	font-size: 18px;
	margin: 0;
}

.card-footer p {
	margin: 0;
}

/* table
*/
.table-border {
	border: 1px solid var(--theme-border-color);
	border-radius: 0.5rem;
}

table {
	width: 100%;
	margin: 0 !important;
}

thead tr th {
	padding: 0.25rem;
}

thead tr th i {
	font-size: 15px;
	vertical-align: -1px;
	color: var(--theme-text-color);
}

thead tr th i:hover {
	color: var(--theme-base-color);
}

.fa-arrow-right-arrow-left {
	font-size: 14px;
	vertical-align: 0;
	rotate: 90deg;
}

tbody tr td {
	height: 67px;
	padding: 0.25rem;
}

tbody tr .td-id {
	width: 45px;
}

tbody tr .td-role,
tbody tr .td-status {
	width: 140px;
}

tbody tr .td-created,
tbody tr .td-actions {
	width: 190px;
}

thead tr th,
tbody tr:not(:last-of-type) td {
	border-bottom: 0.5px solid var(--theme-border-color);
}

thead tr th:not(.th-nome),
tbody tr td:not(.td-nome) {
	text-align: center;
}

tbody tr .td-actions .table-link {
	font-size: 16px;
	text-decoration: none;
	color: var(--theme-text-color);
	background-color: transparent;
	width: fit-content;
	border: 1px solid var(--theme-border-color);
	border-radius: 0.375rem;
	padding: 0.5rem 1rem;
}

tbody tr .td-actions .table-link:hover {
	color: var(--theme-base-color);
	box-shadow: var(--shadow-small);
}

tbody tr .td-actions ion-icon {
	font-size: 18px;
	margin-bottom: -3px;
}

tbody tr td p {
	margin: 0;
}

tbody tr .td-nome p:last-of-type {
	color: var(--theme-text-secondary);
}

.badge {
	font-size: 14px !important;
	text-transform: capitalize;
	border-radius: 0.5rem !important;
	width: fit-content;
	padding: 0.25rem 0.5rem !important;
}

.badge-ativo {
	background-color: #dfe7f6 !important;
	color: #2c58a0 !important;
}

.badge-inativo {
	background-color: #fbf0da !important;
	color: #73510d !important;
}

.badge-eliminado {
	background-color: #f9e1e5 !important;
	color: #af233a !important;
}

.action-link {
	font-size: 16px;
	text-decoration: none;
	color: var(--theme-text-color);
	background-color: transparent;
	min-width: fit-content;
	border: 1px solid var(--theme-border-color);
	border-radius: 0.375rem;
	padding: 0.5rem 1rem;
	margin: 0 0.5rem;
}

.action-link:hover {
	color: var(--theme-base-color);
	box-shadow: var(--shadow-small);
}
