.navbar {
	background-color: white;
	border: 1px solid var(--color-light-grey);
	border-radius: 0.5rem;
	width: fit-content;
	min-height: fit-content;
	padding: 0.5rem !important;
	margin: 1rem auto;
}

.navbar .container {
	width: 1284px;
	margin: 0 !important;
}

.nav .nav-item {
	display: inline-flex;
	background-color: transparent;
	border-radius: 0.5rem;
	width: fit-content;
	height: fit-content;
	padding: 0.5rem 1rem;
	margin: 0 0.5rem;
}

.nav .nav-item .nav-link {
	font-size: 16px;
	color: var(--color-light-dark);
	padding: 0 !important;
}

.nav .nav-item .nav-link:hover,
.nav .nav-item .nav-link.active {
	color: var(--color-dark);
}

.nav .nav-item .nav-link ion-icon {
	vertical-align: -2px;
}

.nav-admin .nav-item:has(.link-users) ion-icon {
	font-size: 20px;
	vertical-align: -4px;
}

.nav-item #username {
	font-size: 16px;
	margin-right: 0.0625rem;
	margin-top: 0.0625rem;
}

.nav-item:has(#username) {
	padding-right: 0;
}
