.dashboard-page {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.dashboard-row {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	padding-top: 4rem;
}

.card.info-form {
	display: flex;
	flex-direction: row;
	border: 1px solid var(--theme-border-color);
	border-radius: 0.5rem;
	width: 250px;
}

.card.info-form .card-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1.5rem 1rem;
}
.card.info-form .card-icon {
	display: flex;
	justify-content: end;
	align-items: center;
	color: #fff;
	padding-left: 1.5rem;
}

.card.info-form .card-icon span {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #52b563;
	width: 55px;
	height: 50px;
	border-radius: 0.5rem;
}

.card.info-form .card-body h4:first-child {
	font-size: 14px;
	margin-bottom: 0.25rem;
}

.card.info-form .card-body h4:last-child {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 0;
}

.card.info-form .card-body h4:last-child span {
	font-size: 20px;
}
