.index-page {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 4rem;
}

.card {
	border: 1px solid var(--color-light-grey) !important;
	border-radius: 0.5rem !important;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.card .card-header,
.card .card-footer {
	text-align: center;
	background-color: transparent !important;
	display: flex;
	justify-content: start;
	border: 0;
	padding: 1.25rem 1.5rem !important;
}

.card .card-header .title {
	font-size: 20px;
	font-weight: bold;
	margin: 0.5rem 2rem;
}

.card .card-header .title i {
	font-size: 19px;
}

.card .card-header .calendar-tools {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	margin-left: auto;
	width: 50%;
}

.calendar-tools .btn-today,
.calendar-tools .btn-previous-month,
.calendar-tools .btn-next-month {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	vertical-align: 10px;
	color: var(--color-light-dark);
	background-color: transparent;
	border: 1px solid var(--color-light-grey) !important;
	border-radius: 6px;
	padding: 0.5rem 1.5rem;
}

.calendar-tools .calendar-date {
	font-size: 24px;
	font-weight: bold;
	height: fit-content;
	margin: 0.5rem 0.5rem;
}

.calendar-tools a:hover {
	color: var(--color-dark);
	box-shadow: var(--shadow-small);
}

.card .card-body {
	padding: 0 1.5rem;
}

/* table
*/
.table-border {
	border: 1px solid var(--color-light-grey);
	border-radius: 0.5rem;
}

table {
	table-layout: fixed;
	margin: 0 !important;
}

thead tr th {
	padding: 0.25rem;
}

tbody tr td {
	font-size: 12px;
	width: 132px;
	height: 132px;
	padding: 0.25rem;
}

thead tr th,
tbody tr td {
	text-align: center;
}

thead tr th {
	border-bottom: 0.5px solid var(--color-light-grey);
}

thead tr th:not(:last-of-type) {
	border-right: 0.5px solid var(--color-light-grey);
}

tbody tr:not(:last-of-type) td {
	border-bottom: 0.5px solid var(--color-light-grey);
}

tbody tr td:not(:last-of-type, :not(:has(.td-container))) {
	border-right: 0.5px solid var(--color-light-grey);
}

tbody tr td:has(.td-container:first-child):not(:first-of-type) {
	border-left: 0.5px solid var(--color-light-grey);
}

td .td-container {
	color: var(--color-dark);
	text-decoration: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

td .td-container:hover {
	color: var(--color-dark);
}

tr td:has(.td-container):hover {
	background: #e0e0e020;
}

td .day-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

td .day-container div {
	padding-top: 0.1875rem;
	margin-bottom: 0.25rem;
}

td .day-container div.today {
	color: white;
	background-color: var(--color-palette-medium);
	width: 22px;
	height: 22px;
	border-radius: 50%;
}

td .event-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

td .event-container .btn-event {
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	border-radius: 6px;
	padding: 0.125rem 0.25rem;
	margin-bottom: 0.1875rem;
}

td .event-container .btn-event.blue {
	color: rgb(10, 71, 169);
	background: rgb(207, 224, 252, 0.8);
}

td .event-container .btn-event.purple {
	color: rgb(110, 2, 177);
	background: rgb(235, 205, 254, 0.8);
}

td .event-container .btn-event.green {
	color: rgb(11, 65, 33);
	background: rgba(199, 245, 217, 0.8);
}

td .event-container .btn-event.orange {
	color: rgb(151, 101, 8);
	background: rgb(253, 231, 182, 0.8);
}

td .event-container .btn-event.red {
	color: rgb(160, 9, 9);
	background: rgb(253, 185, 185, 0.8);
}

td .event-container .btn-event.blue:hover {
	background: rgba(207, 224, 252);
}

td .event-container .btn-event.purple:hover {
	background: rgba(235, 205, 254);
}

td .event-container .btn-event.green:hover {
	background: rgba(199, 245, 217);
}

td .event-container .btn-event.orange:hover {
	background: rgba(253, 231, 182);
}

td .event-container .btn-event.red:hover {
	background: rgba(253, 185, 185);
}
