.navbar {
	background-color: white;
	border-bottom: #ced4da 1px solid;
	font-size: 18px;
	min-height: 60px;
}

.navbar .container {
	padding: 0;
}

.nav-link {
	display: inline-block !important;
	padding: 0 !important;
}

/* Logo
*/
a.navbar-brand {
	padding: 0;
	margin: 0;
}

img.navbar-brand {
	height: 30px;
	object-fit: cover;
	padding: 0 !important;
	margin-bottom: 2px;
}

/* svg icon link color
*/
.nav-item [class^='ti-']::before,
.nav-item [class*=' ti-']::before {
	color: #52b563;
}

.nav-item:not(:has(.link-logout, #username)) {
	padding: 0 1.5rem;
}

.nav-item #username {
	font-size: 16px;
	margin-right: 0.0625rem;
	padding-left: 1.5rem;
}

.login-signup .nav-item .nav-link:hover {
	color: #52b563 !important;
}

.nav-link:not(.link-event)::before {
	padding-right: 0.25rem;
}

/* dropdown menu
*/
.dropdown-menu {
	max-width: max-content;
}

.dropdown-item.active,
.dropdown-item:active {
	color: black !important;
	background-color: #52b56350 !important;
}
