body {
	font-family: 'Roboto', sans-serif !important;
	font-size: 18px !important;
}

.fa::before{
    padding-right: 3% !important;
}

.navbar {
	height: 10% !important;
	border-bottom: 1px solid #ced4da;
}

.navbar-brand {
	width: 280px;
}

.search-bar {
	margin-left: 10% !important;
	width: 30% !important;
}

.btn-search{
    padding-right: 4% !important;
    padding-left: 4% !important;
}

.dropdown-menu {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.dropdown-divider {
	border-top: 1px solid #ced4da !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.nav-cart{
	margin-right: 20px !important;
}

.main{
	margin-top: 2% !important;
}